.clientapp-history {
  font-weight: 900;
}

.spaced-down-up {
  padding-top: 20px;
  padding-bottom: 20px;
}


.spaced-down {
  padding-bottom: 20px;
}

.spaced-up {
  padding-top: 20px;
}

.client-container {
    display: flex;
    justify-content: space-between;
}

.client-container input {
  padding-left: 5px;
  width: 200px;
  height: 40px;
  border-radius: 0.3rem;
  border: 1px solid #83a1e8;
}


.proof-button {
  padding-left: 5px;
  width: 200px;
  height: 40px;
  border-radius: 0.3rem;
  border: 1px solid #83a1e8;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.client-padding {
  padding-bottom: 15px;
}

.clientsPadding {
  padding-top: 15px;
}

.label-settings {
  display: flex;
  flex-direction: column;
}

.label-settings label {
  font-size: 13px;
  font-weight: small;
  color: #7A7979;
}

.form-settings {
    display: flex;
    justify-content: space-between;
    row-gap: 100px;
}


::placeholder {
  color: black;
  font-weight: lighter;
  padding: 10px;
}




/*Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px){
  .contract-container {border: 1px solid gainsboro}

  .flex-container p {
    font-size: 11px; 
  }
  .flex-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2px;
}
.flex-container input {
  padding-left: 2.5px;
  width: 90px;
  height: 20px;
  border-radius: 0.3rem;
  border: 1px solid lightgrey;
}

.form-settings {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2px;
}

.loan-app-form label {
    display: block;
    padding-bottom: 30px;
    font-size: 12px;
    font-weight: small;
    width: 100%;
    color: #7a7979;
}

.loan-app-form input {
  padding-left: 2.5px;
  width: 90px;
  height: 20px;
  border-radius: 0.3rem;
  border: 1px solid lightgrey;
}

::placeholder {
  color: black;
  font-size: 10px;
  font-weight: lighter;
  padding: 10px;
}

.proof {
  text-decoration: none;
  font-size: 10px;
  border-radius: 0.3rem;
  border: 1px solid blue;
  padding: 8px 9px;
  background-color: blue;
  color: white;
  text-align: center;
  cursor: pointer;
  
}

}

/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px){
  .contract-container {border: 1px solid grey}
}

/*Medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width: 768px){
  .contract-container {border: 1px solid goldenrod}
}

/*Extra large devices(large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px){
  .contract-container { border: 1px solid lightgrey;}
}