.loan-contract {
    display: flex;
}
.contract-container {
    width: 59.9%;
    border: 30px double #F0F4FC;
    background-color: #F0F4FC;
    margin-left: 10px;
}

.print-button {
   padding-top: 40px;
}

.print-btn {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid lightgrey;
    border-radius: 8px;
}

.return-button {
    padding-top: 20px;
    padding-left: 15px;
}
.return-btn {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 8px;
}


.edit-btn {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 8px;
}

.form-text {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.white-background{
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.data-input {
    margin-bottom: 20px;
}

