.profiles-details-container {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}


.profileImage {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.profiles-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profiles-image-content {
  display: flex;
  align-items: center;
}

.profiles-details {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profiles-space {
  padding-top: 5px;
}

.profiles-spaced {
  padding-top: 20px;
}


.active-button {
  background-color: #00d43d;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 0.2rem;
}
