.risk-text {
  display: flex;
}

.risk-grade {
  padding-left: 100px;
}
.risk-grades {
  padding-left: 92px;
}

.risk-image {
  padding-left: 225px;
}

.risk-good h4 {
  padding-bottom: 18px;
  font-size: 14px;
  font-weight: bolder;
}

.risk-grade p {
  padding-bottom: 18px;
  font-size: 14px;
}

.decision-text {
  padding-top: 20px;
}

.decision-comments h4 {
  font-size: 14px;
  font-weight: bolder;
}

.decision-recommendation {
  background-color: #f0f4fc;
  width: 475px;
  height: 120px;
  padding: 5px;
  border-radius: 5px;
}

.decision-recommendation p {
  padding: 5px;
}

.riskComment {
  font-size: 14px;
}