/* SUPPORT PAGE */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.overall {
  width: 76.5vw;
  margin: 0 15px 0 20px;
}

.FAQ-session,
.Toll-session {
  display: flex;
  align-items: center;
}

.FAQ-content {
  padding-left: 2vw;
  color: black;
  font-weight: 600;
}

.Toll-session {
  justify-content: space-between;
  padding: 0 2vw;
}

.toll-p1 {
  font-weight: 600;
}

.toll-p2 {
  font-size: 11px;
  color: grey;
  padding-top: 10px;
}

.toll-bttn {
  padding: 7px;
  border: solid 0.3px grey;
  border-radius: 5px;
  background-color: white;
  font-weight: bolder;
  font-size: 12px;
}

.toll-bttn1 {
  color: black;
}

.report-bttn {
  border: none;
  font-weight: 600;
  font-size: 1rem;
}

.report-bttn-text {
  display: flex;
  justify-content: space-between;
  padding: 0 4vw 0 2vw;
}

.report-drpdwn {
  color: rgb(171, 168, 168);
}

.breadcrumbs {
  font-size: 12px;
  font-weight: 700;
  color: #010e2a;
  margin-top: 0;
}

.check-icon {
  color: green;
  font-size: 8vh;
}

.faq-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -2px;
}

.faq-wrapper {
  width: 77.5vw;
  background-color: rgb(240, 244, 252);
  height: 12vh;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  margin-top: 1%;
}

.select-wrapper {
  width: 98%;
  outline: none;
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-top: 17px;
  color: black;
  font-size: 11px;
  font-weight: 600;
}

.support-session {
  width: 90vw;
  min-height: 12vh;
  background-color: rgb(240, 244, 252);
  margin: 15px 0 10px;
}

.report-textarea {
  width: 80vw;
}

.breadcrumbs1 {
  width: 95%;
}

@media (max-width: 768px) {
  .report-textarea {
    width: 85vw;
  }

  .breadcrumbs1 {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .support-session {
    width: 90vw;
  }

  .report-textarea {
    width: 90vw;
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .support-session {
    width: 90vw;
  }
}

@media (min-width: 961px) {
  .support-session {
    width: 80vw;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .support-session {
    width: 95vw;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .support-session {
    width: 76vw;
  }
}
