.resetPassword {
  display: flex;
  height: 100%;
  background-color: #f0f4fc;
}

.formWrapper {
  height: 100%;
  padding: 20px 70px;
  flex: 0 0 70%;
  background-color: #f0f4fc;
}
.loanifyLogo {
  margin-top: 20px;
  height: 30px;
}

.resetPass-form {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resetWrapper {
  width: 50%;
  margin: auto;
}

.resetImage {
  height: 100vh;
  flex: 0 0 30%;
}

.resetPassword h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.resetPassword .input {
  display: block;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
.formButton {
  width: 100%;
  background: #010e2a;
  font-size: 18px;
  font-weight: 700;
  color: white;
  padding: 12px 0;
  outline: none;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.textfield-wrapper {
  margin-bottom: 20px;
}

.resetEmailWrapper {
  display: flex;
  background-color: #f0f4fc;
}
.TokenToBeSent {
  color: rgb(214, 214, 214);
  font-style: italic;
  font-size: 12px;
  margin: 0.5rem;
}
.ResendTokenText {
  color: rgb(7, 7, 208);
  text-align: center;
  margin-top: 1rem;
}
.ResendTokenWrapper {
  display: flex;
  background-color: #f0f4fc;
}
.resetPass-form h1{
  margin: 1rem;
}
.token--wrapper {
  padding: 20px 0 0 5rem;
}
.token-text {
  width: 30rem;
  height: 15rem;
  margin: 8rem auto;
  margin-left: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid rgb(3, 3, 215);
}
.token-text p {
  font-weight: bold;
}
.token-text .x-icon {
  color: rgb(192, 188, 188);
  font-size: 12px;
  font-weight: 200;
  margin-left: 5px;
}

.resetLink-Wrapper {
  display: flex;
  background-color: #f0f4fc;
}
.resetLinkLogoAndText {
  padding: 20px 0 0 5rem;
}
.resetLinkText {
  width: 30rem;
  height: 18rem;
  margin: 8rem auto;
  margin-left: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 1rem;
  border: 2px solid rgb(4, 4, 162);
}
.resetLinkText .text--link {
  font-weight: bold;
  text-align: center;
}
.resetlinkbutton {
  text-align: center;
  color: blue;
  font-size: 12px;
  font-weight: bold;
}
.successfulLink {
  text-align: center;
  color: blue;
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}
.css-10iatzg {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .formWrapper {
    padding: 20px;
  }
  .resetPassword {
    display: block;
  }
  .resetWrapper {
    width: 80%;
  }
  .input {
    width: 100%;
  }
  .resetImage {
    display: none;
  }
  form .formButton {
    width: 100%;
  }
  .token--wrapper {
    padding: 20px;
  }
  .token-text {
    width: 100%;
    margin-top: 4rem;
    margin-left: 5rem;
    height: 12rem;
    font-size: 13px;
  }
  .resetLinkText {
    width: 100%;
    height: 12rem;
    margin-top: 4rem;
    margin-left: 3rem;
    font-size: 13px;
  }
  .resetLinkLogoAndText {
    padding: 20px;
  }
}
