.personal-info-form, .employment-info-form, .guarantor-info-form {
  display: flex;
  flex-wrap: wrap;
}
.personal-info-form {
  margin: 0 auto;
  padding: 10px;
  font-family: Arial, sans-serif;
  
}

.form-settings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 115px;
  margin-bottom: 20px;
  line-height: 30px;
}
.grid-column {
  display: flex;
  flex-direction: column;
}

.personal-info-form label {
  display: block;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: small;
  width: 60%;
  color: #7a7979;
}
.personal-info-form input {
  width: 250px;
  height: 40px;
  padding: 10px;
  border-radius: 0.5rem;
  border: 1px solid #83a1e8;
}
/* .address-setting {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.personal-info-form input[name='address'] {
  width: 350px;
  height: 40px;

} */
.employment-info-form {
  margin: 0 auto;
  padding: 10px;
  font-family: Arial, sans-serif;
}
.employment-info-form label {
  display: block;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: small;
  width: 70%;
  color: #7a7979;
}
.employment-info-form input {
  width: 250px;
  height: 40px;
  padding: 10px;
  border-radius: 0.5rem;
  border: 1px solid #83a1e8;
}
/* .employment-information-form input[name='address'] {
  width: 350px;
} */
.guarantor-info-form {
  margin: 0 auto;
  padding: 10px;
  font-family: Arial, sans-serif;
}
.guarantor-info-form label {
  display: block;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: small;
  width: 60%;
  color: #7a7979;
}
.guarantor-info-form input {
  width: 250px;
  height: 40px;
  padding:10px;
  border-radius: 0.5rem;
  border: 1px solid #83a1e8;
}
/* .guarantor-information-form input[name='address'] {
  width: 350px;
} */
::placeholder {
  color: black;
  font-weight: lighter;
  padding: 10px;
}

.general h5 {
  font-size: 18px;
}

@media (max-width:600px) {
.form-settings {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    }
.grid-column {
  display: flex;
  flex-direction: column;
  
}
.personal-info-form label, .employment-info-form label, .guarantor-info-form label {
  display: block;
  width: 300px;
}
.personal-info-form input, .employment-info-form input, .guarantor-info-form input {
  width: 300px;

}
}

