.general {
  width: 100%;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.general h5 {
  font-size: 18px;
}

.personal-information-form {
  font-family: Arial, sans-serif;
}

.personal-form-settings {
  display: flex;
  justify-content: space-between;
}

.label-settings {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.personal-information-form label {
  font-size: 13px;
  font-weight: small;
  color: #7A7979;
}

.label-settings input {
  padding-left: 5px;
  width: 200px;
  height: 40px;
  border-radius: 0.3rem;
  border: 1px solid #83a1e8;
}

.label-settings label {
  padding-bottom: 5px;
}

.address-settings {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.address-settings input {
  width: 625px;
  height: 40px;
  border-radius: 0.4rem;
  border: 1px solid #83a1e8;
  
}

.address-settings label {
  padding-bottom: 5px;
}

.information-input {
  color: black;
  font-weight: lighter;
  padding: 10px;
}

::placeholder {
  color: black;
  font-weight: lighter;
  padding: 5px;
}

.client-padding {
  padding-bottom: 20px;
}


@media (max-width: 600px) {
  .general h5 {
    font-size: 10px;
    padding-left: 5px;
  }

  .personal-information-form {
    margin: 0 auto;
    padding: 5px;
    font-family: Arial, sans-serif;
  }

  .personal-information-form label {
    font-size: 9px;
    font-weight: small;
    color: #7A7979;
  }

  .label-settings input {
    height: 20px;
    width: 78px;
    border-radius: 0.2rem;
    border: 1px solid #83a1e8;
  }

  .address-settings input {
    width: 225px;
    height: 20px;
    border-radius: 0.2rem;
    border: 1px solid #83a1e8;
  }

  ::placeholder {
    color: black;
    font-weight: lighter;
    font-size: 9px;
    padding: 5px;
  }
}
