.risk-score {
  display: flex;
  padding-top: 10px;
}

.risk-comment{
  font-size: 14px;
  font-weight: 700;
}
.rs-highlighted {
  background-color: #f0f4fc;
  width: 320px;
  height: 80px;
  padding: 4px;
  border-radius: 0.5rem;
}

.riskComment {
  font-size: 14px;
}

.rs-sizeb p {
  font-size: 14px;
  font-weight: 700;
}

.rs-size p {
  font-size: 14px;
}
.rs-space{
  margin-right: 55px;
}

.risk-space {
  margin-right: 80px;
}
/*Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px){
  .risk-score {border: 30px double white;}
}

/* Small devices (portrait tablets and large phones, 600px and up)*/
@media only screen and (min-width: 600px){
  .risk-score {border: 30px double white}
}

/*Medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width: 768px){
  .risk-score {border: 30px double white}
}

/*Extra large devices(large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px){
  .risk-score {border: 30px double white;}
}